# Membaca Data dari database

In [6]:
import psycopg2

In [ ]:
#postgresql://andromeda1268:lwTe74hEypuW@ep-lingering-firefly-603667.us-east-2.aws.neon.tech/dbTesting?sslmode=require

In [ ]:
#postgresql://andromeda1268:lwTe74hEypuW@ep-lingering-firefly-603667-pooler.us-east-2.aws.neon.tech/dbTesting?sslmode=require

In [7]:
#connection_parameter
dbhost  = 'ep-white-thunder-a8y79bvj-pooler.eastus2.azure.neon.tech'
dbport = '5432'
dbdatabase = 'DBBasyral'
dbuser = 'neondb_owner'
dbpwd = 'npg_UKGY5ixOs2uT'
#dbpwd = 'project=ep-lingering-firefly-603667;lwTe74hEypuW'

In [9]:
psconn = psycopg2.connect(host=dbhost, port = dbport, database=dbdatabase, user=dbuser, password=dbpwd, sslmode='require')

In [10]:
#membaca isi tabel

curr = psconn.cursor()
sql= 'select * from public."datamahasiswa"'
curr.execute(sql)
row = curr.fetchone()
isidata = []

In [11]:
#menampilkan isi tabel

while row is not None:
  isidata.append(row)
  row = curr.fetchone()

curr.close()

print('---- isi tabel datamhs ------')
for data in isidata:
  print(data)

---- isi tabel datamhs ------
(240, 'basyral', '24B', 90)
(340, 'dhyas', '24C', 92)

# Operasi Insert, Update, Delete

In [21]:
#menambah data

#sql = "insert into datamhs (nim,nama,uts,uas,tgs1,tgs2,tgs3) values('3355','Andika',78,65,80,null,65)"
sql = "insert into datamahasiswa (nim, nama, kelas, nilai) values(336,'Rianarayaya','24A',90)"
curr = psconn.cursor()
curr.execute(sql)
curr.close()
psconn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [22]:
#insert from screen
nim = input('Isikan NIM:')
nama = input('Isikan Nama:')
uts = int(input('UTS:'))
uas = int(input('UAS:'))
data=(nim,nama,uts,uas)
sql_insert =  "insert into datamhs(nim,nama,uts,uas) values(%s,%s,%s,%s)"
curr = psconn.cursor()
curr.execute(sql_insert,data)
curr.close()
psconn.commit()

Isikan NIM:240
Isikan Nama:nadir
UTS:90
UAS:95

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [23]:
#hapus data
nim = '3366'
#hapus data melalui input:
#nim = input('Isikan NIM yang akan dihapus:')
sql_delete = "delete from datamhs where nim = %s"
curr = psconn.cursor()
curr.execute(sql_delete,(nim,))
curr.close()
psconn.commit()
print('delete sukses')

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [24]:
#ubah/edit data
#nim = '2206837744'
nim = '456444'
tgs1 = 90
tgs2 = 85
tgs3 = 70
sql_update = "update datamhs set tgs1 = %s, tgs2 = %s, tgs3 =%s where nim = %s"
curr = psconn.cursor()
try:
  curr.execute(sql_update,(tgs1,tgs2,tgs3,nim,))
  psconn.commit()
  print('Update Sukses')
except:
  curr.execute("ROLLBACK")
  print('Update Gagal')

Update Gagal

In [25]:
#ubah/edit data
nim = '456444'
tgs1 = 90
tgs2 = 85
tgs3 = 70
uas = 90
sql_update = "update datamhs set uas = %uas where nim = %s"
curr = psconn.cursor()
try:
  curr.execute(sql_update,(uas,nim,))
  psconn.commit()
  print('Update Sukses')
except:
  curr.execute("ROLLBACK")
  print('Update Gagal')

Update Gagal

In [26]:

Nim = "456444" #@param {type:"string"}
Nama = 'Tita' #@param {type:"string"}
UTS = 85 #@param {type:"integer"}
UAS = 70 #@param {type:"integer"}
Tugas1 = 70 #@param {type:"integer"}
Tugas2 = 65 #@param {type:"integer"}
Tugas3 = 80 #@param {type:"integer"}
data=(Nim,Nama,UTS,UAS,Tugas1,Tugas2,Tugas3)

In [ ]:
print(data)

('4455', 'Devi', 85, 70, 70, 65, 80)

In [ ]:
#insert data
sql_insert =  "insert into datamhs(nim,nama,uts,uas,tgs1,tgs2,tgs3) values(%s,%s,%s,%s,%s,%s,%s)"
curr = psconn.cursor()
curr.execute(sql_insert,data)
curr.close()
psconn.commit()

# Tugas

1. Buatlah tabel baru pada akun database anda, dengan struktur dan isi tabel sebagai berikut:

| NIP  | Nama_Pegawai | Gol | Jam Lembur |
| -------- | ------- | ----- | --------- |
| 123  | Indra   | 3 | 20 |
| 456 | Andri     | 2 | 15 |
| 789    | Udin    | 1 | 0 |

2. Berdasarkan data pada tabel tersebut, buatlah program untuk menghitung Gaji Pokok, total lembur, pajak, dan gaji diterima, dengan ketentuan: <br>
a. gaji pokok dan lembur per jam dihitung berdasarkan tabel berikut:<br>
b. Pajak dihitung dengan ketentuan:<br>
Jika total gaji > 15jt, pajak = 15% dari total gaji<br>
Jika total gaji <= 15jt, pajak = 8% dari total gaji.<br>
c. Total gaji = gaji pokok + lembur - pajak

| Gol  | Gaji Pokok | Lembur per jam |
| -------- | ------- | ------------ |
|1 | 20000000   | 15000|
|2 | 15000000    |  30000|
|3 | 10000000   | 50000 |

3. Data gaji dan seluruh hasil perhitungan disimpan pada file CSV (dengan nama file: XXXXX_gajipeg.csv),  dengan xxxx adalah NIM masing2, pada folder drive akun masing-masing